<html lang="en"><head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12" style="
    width: 200px;
">
			<h3 class="text-center" style="
    font-size: 30px;
">
				大标题
			</h3>
		</div>
	</div>

	<div class="row" style="
    /* display: inline-block; */
">

		<div class="span6" style="
    margin-right: 50px;
    /* width: 200px; */
    /* display: inline-block; */
    float: left;
">
			<h3>
				1
			</h3>
		</div>

		<div class="span6" style="
    /* display: inline-block; */
    margin-right: 50px;
    /* width: 200px; */
    float: left;
">
			<h3>
				2
			</h3>
		</div>
	</div>
</div>

</body></html>